{% extends 'base.html.twig' %}

{% block title %}Chiffre d'affaires annuel
{% endblock %}

{% block body %}
	<p class="titre">Chiffre d'affaires annuel</p>
	<div class="two-buttons">
		<a href="{{ path('app_ca') }}" role="button" class="add-button-customer">Ca journalier</a>
		<a href="{{ path('app_ca_monthly') }}" role="button" class="add-button-customer">Ca mensuel</a>
	</div>
	<div class="ca">
		<form method="get" action="{{ path('app_ca_year') }}" class="choice-date">
			<label for="year" class="p-product">Sélectionnez une année :</label>
			<input type="year" id="year" name="year" value="{{ selected_date }}">
			<button type="submit">Voir</button>
		</form>

		<p class="p-product align strong-ca">Chiffre d'affaires pour l'année
			{{ selected_date }}
			:
			{{ ca }}
			€</p>
	</div>
{% endblock %}
