{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumInvoice</th>
                <th>Date</th>
                <th>Total</th>
                <th>Discount</th>
                <th>PayementType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.numInvoice }}</td>
                <td>{{ invoice.date ? invoice.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice.total }}</td>
                <td>{{ invoice.discount }}</td>
                <td>{{ invoice.payementType }}</td>
                <td>
                    <a href="{{ path('app_invoice_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invoice_new') }}">Create new</a>
{% endblock %}
