{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté {{ app.user.userIdentifier }}, cliqué sur <a href="{{ path('app_logout') }}">
						<i class="nav-icon fa-solid fa-power-off"></i> pour vous déconnecter</a>
            </div>
        {% else %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="add-category">
        <div>
        <label for="username">Login</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        </div>
        <div>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" data-controller="crsf-protection" value="{{ csrf_token('authenticate') }}"
        >
        </div>
        <button class="btn btn-edit" type="submit">
            Connexion
        </button>
        {% endif %}
    </div>
    </form>
{% endblock %}
