{% block navbar %}
	<nav class="navbar-mobile">
		<ul>
			<li><a href="{{ path('app_category_index') }}"><i class="nav-icon fa-regular fa-file-lines"></i></a></li>
			<li><a href="{{ path('app_customer_index') }}"><i class="nav-icon fa-regular fa-user"></i></a></li>
			<li><a href="{{ path('app_ca') }}"><i class="nav-icon fa-solid fa-chart-column"></i></a></li>
			{# <li><a href=""><i class="nav-icon fa-regular fa-calendar"></i></a></li> #}
			<li><a href="{{ path('app_invoice_index') }}"><i class="nav-icon fa-solid fa-receipt"></i></a></li>
			<li><a href="{{ path('app_cart') }}"><i class="nav-icon fa-solid fa-cart-shopping"></i></a></li>
						{% if is_granted("ROLE_ADMIN") %}
			<li>
				<a href="{{ path('admin') }}">
					<i class="nav-icon fa-solid fa-user-group"></i></a>
			</li>
			{% endif %}
			{% if app.user %}
				<li class="logout">
					<a href="{{ path('app_logout') }}"><i class="nav-icon fa-solid fa-power-off"></i></a>
				</li>
			{% endif %}
		</ul>
	</nav>

	<nav class="navbar-desktop">
			<a href="/"><img src="{{ asset('/build/images/main.623ca7c1.svg') }}" alt="logo de perle do" class="logo-desktop"></a>

		<ul>
			<li>
				<a href="{{ path('app_category_index') }}">
					<i class="nav-icon fa-regular fa-file-lines"></i>Produits</a>
			</li>
			<li>
				<a href="{{ path('app_customer_index') }}">
					<i class="nav-icon fa-regular fa-user"></i>Fiches clients</a>
			</li>
			<li>
				<a href="{{ path('app_ca') }}">
					<i class="nav-icon fa-solid fa-chart-column"></i>Chiffre d'affaire</a>
			</li>
			{# <li>
				<a href="#">
					<i class="nav-icon fa-regular fa-calendar"></i>Evènements</a>
			</li> #}
			<li>
				<a href="{{ path('app_invoice_index') }}">
					<i class="nav-icon fa-solid fa-receipt"></i>Factures</a>
			</li>
			<li>
				<a href="{{ path('app_cart') }}">
					<i class="nav-icon fa-solid fa-cart-shopping"></i>Panier</a>
			</li>
			{% if is_granted("ROLE_ADMIN") %}
			<li>
				<a href="{{ path('admin') }}">
					<i class="nav-icon fa-solid fa-user-group"></i>Gestion administrateur</a>
			</li>
			{% endif %}
			{% if app.user %}
				<li class="logout">
					<a href="{{ path('app_logout') }}">
						<i class="nav-icon fa-solid fa-power-off"></i>Deconnexion</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}
